################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DbMultiTool/obj
/DbMultiTool/DbMultiTool.csproj.user
/packages
/DbMultiTool/bin/Debug
/DbtoolExt/bin/Debug
/DbtoolExt/obj/Debug
/DbtoolExt/testWorkBook.xlsx
/DbtoolExt/DbtoolExt.csproj.user
