################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DbMultiTool/obj
/DbMultiTool/DbMultiTool.csproj.user
/packages
